<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            -1 <!--las sesiones no caducan-->
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>500</error-code>
        <location>/pages/cerrarSesion</location>
    </error-page>
    
    <!--Esther-->
    <servlet>
        <servlet-name>inbox</servlet-name>
        <servlet-class>usuario.FetchInbox</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inbox</servlet-name>
        <url-pattern>/pages/fetchInbox</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>checkUsuario</servlet-name>
        <servlet-class>userManagement.CheckUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkUsuario</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet>
        <servlet-name>registroUsuario</servlet-name>
        <servlet-class>userManagement.Registro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registroUsuario</servlet-name>
        <url-pattern>/pages/registro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>userManagement.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/pages/login</url-pattern>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>accederPagUsuario</servlet-name>
        <servlet-class>usuario.PagUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>accederPagUsuario</servlet-name>
        <url-pattern>/pages/accederPagUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editarPerfil</servlet-name>
        <servlet-class>userManagement.EditarPerfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editarPerfil</servlet-name>
        <url-pattern>/pages/editarPerfil</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>enviarMensaje</servlet-name>
        <servlet-class>usuario.EnviarMensaje</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>enviarMensaje</servlet-name>
        <url-pattern>/pages/enviarMensaje</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>fetchMensaje</servlet-name>
        <servlet-class>usuario.FetchMensaje</servlet-class>
        <url-pattern>/pages/fetchMessage</url-pattern>
    </servlet>
    <servlet-mapping>
        <servlet-name>fetchMensaje</servlet-name>
        <url-pattern>/pages/fetchMessage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>followUser</servlet-name>
        <servlet-class>usuario.SeguirUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>followUser</servlet-name>
        <url-pattern>/pages/followUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>unfollowUser</servlet-name>
        <servlet-class>usuario.DejarDeSeguirUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>unfollowUser</servlet-name>
        <url-pattern>/pages/unfollowUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>eliminarReceta</servlet-name>
        <servlet-class>usuario.EliminarReceta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>eliminarReceta</servlet-name>
        <url-pattern>/pages/eliminarReceta</url-pattern>
    </servlet-mapping>
    <!--Raquel-->
    <servlet>
        <servlet-name>filtrarRecetas</servlet-name>
        <servlet-class>busquedaRecetas.filtrarRecetas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>filtrarRecetas</servlet-name>
        <url-pattern>/pages/filtrarRecetas</url-pattern>
    </servlet-mapping>
    <!--Cristina-->
    <servlet>
        <servlet-name>verReceta</servlet-name>
        <servlet-class>verRecetas.VerReceta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verReceta</servlet-name>
        <url-pattern>/pages/verReceta</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>anyadirCom</servlet-name>
        <servlet-class>verRecetas.AnyadirComent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>anyadirCom</servlet-name>
        <url-pattern>/pages/anyadirCom</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>anyadirFav</servlet-name>
        <servlet-class>verRecetas.AnyadirFav</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>anyadirFav</servlet-name>
        <url-pattern>/pages/anyadirFav</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>anyadirLike</servlet-name>
        <servlet-class>verRecetas.AnyadirLike</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>anyadirLike</servlet-name>
        <url-pattern>/pages/anyadirLike</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>eliminarFav</servlet-name>
        <servlet-class>verRecetas.EliminarFav</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>eliminarFav</servlet-name>
        <url-pattern>/pages/eliminarFav</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>eliminarLike</servlet-name>
        <servlet-class>verRecetas.EliminarLike</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>eliminarLike</servlet-name>
        <url-pattern>/pages/eliminarLike</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>userManagement.CerrarSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/pages/cerrarSesion</url-pattern>
    </servlet-mapping>
    <!--Marta-->
    <servlet>
        <servlet-name>anyadirReceta</servlet-name>
        <servlet-class>formRecetas.AnyadirReceta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>anyadirReceta</servlet-name>
        <url-pattern>/pages/anyadirReceta</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>modificarReceta</servlet-name>
        <servlet-class>formRecetas.ModificarReceta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modificarReceta</servlet-name>
        <url-pattern>/pages/modificarReceta</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>actualizarReceta</servlet-name>
        <servlet-class>formRecetas.ActualizarReceta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>actualizarReceta</servlet-name>
        <url-pattern>/pages/actualizarReceta</url-pattern>
    </servlet-mapping>
</web-app>
